* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Quatro',Helvetica,sans-serif;
}


nav {
    background-color: #1b262c;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 60px;
    background-color: #0f4c75;
    color: white;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 25px;
}

h2 {
    font-size: 40px;
}

h3 {
    text-align: center;
}

#js-country-results{
    margin: 0 auto;
    text-align: center;
}

#js-country-results img {
    width: 30%; 
}


main {
    margin: 0 auto;
}

form {
    background-color: #0f4c75;
    padding-top: 10px;
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    color: white;
}

form, input {
    text-align: center;
    margin: 0 auto;
}

fieldset {
    border: none;
    padding-bottom: 150px;
}

input[type=text], input[type=number] {
    display: block;
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;

}

input[type=submit] {
    border: none;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: #bbe1fa;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 5px #1b262c;
    
}

input[type=submit]:hover {
    box-shadow: none;
}


 .top-songs-container {
    text-align: center;
    background-color: #F1F1F1 ;
    color: #0f4c75;
    margin: 20px auto 40px auto;
    width: 80%;
    line-height: 1.5;
    border-radius: 5px;
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    color: black
}

.hidden {
    display: none;
}



footer {
    margin: 0 auto;
    text-align: center;
    background-color:#1b262c;
    color: white;
    padding: 10px;
}


